version: "{branch}.build.{build}"
skip_tags: true

branches:
  only:
    - main

clone_folder:  c:\projects\winbinder

image: Visual Studio 2019

install:
  ps: |
    echo "Build cache directory c:\build-cache"
    if (-not (Test-Path c:\build-cache)) {
            mkdir c:\build-cache
    }

    echo "Clone PHP SDK binary tools"
    if (-not (Test-Path c:\build-cache\php-sdk)) {
        git clone --quiet --depth=1 https://github.com/php/php-sdk-binary-tools.git c:\build-cache\php-sdk 2>$null
    } else {
        pushd c:\build-cache\php-sdk
        git pull --quiet 2>$null
        popd
    }

cache:
  c:\build-cache -> .appveyor.yml

build_script:
  ps: |
    .\build_all.ps1 -PhpVersion "8.3.15" -VcVersion "vs16"

deploy:
  - provider: GitHub
    auth_token: $(GH_PAT)
    artifact: /.*\.zip/
    draft: false
    prerelease: false
    force_update: true
    release: "php_winbinder-8.3.15"
    tag: "php_winbinder-8.3.15"
    on:
      branch: main
