version: "{branch}.build.{build}"
skip_tags: true

branches:
  only:
    - main

clone_folder:  c:\projects\winbinder

install:
  ps: |

    echo "Build cache directory c:\build-cache"
    if (-not (Test-Path c:\build-cache)) {
            mkdir c:\build-cache
    }

    echo "Clone PHP SDK binary tools"
    if (-not (Test-Path c:\build-cache\php-sdk)) {
        git clone --quiet --depth=1 https://github.com/php/php-sdk-binary-tools.git c:\build-cache\php-sdk
    } else {
        pushd c:\build-cache\php-sdk
        git pull --quiet
        popd
    }

cache:
  c:\build-cache -> .appveyor.yml

environment:
  PTHREADS_VER: 2.9.1
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022
      ARCH: x64
      VC: vs16
      PHP_VER: 8.3.15
      TS: 1
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022
      ARCH: x64
      VC: vs16
      PHP_VER: 8.3.15
      TS: 0
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022
      ARCH: x86
      VC: vs16
      PHP_VER: 8.3.15
      TS: 1
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022
      ARCH: x86
      VC: vs16
      PHP_VER: 8.3.15
      TS: 0

build_script:
  ps: |

    $ts_part = ''
    if ('0' -eq $env:TS) { $ts_part = '-nts' }
    $bname = 'php-devel-pack-' + $env:PHP_VER + $ts_part + '-Win32-' + $env:VC + '-' + $env:ARCH + '.zip'
    $url_releases = "https://windows.php.net/downloads/releases/$bname"
    $url_archives = "https://windows.php.net/downloads/releases/archives/$bname"

    echo "Download PHP development pack from $url_releases"
    if (-not (Test-Path c:\build-cache\$bname)) {
        try {
            Invoke-WebRequest $url_releases -OutFile "c:\build-cache\$bname" -UserAgent 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:125.0) Gecko/20100101 Firefox/125.0'
        } catch {
            echo "Failed to download from releases, trying archives..."
            Invoke-WebRequest $url_archives -OutFile "c:\build-cache\$bname" -UserAgent 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:125.0) Gecko/20100101 Firefox/125.0'
        }
    }

    $dname0 = 'php-' + $env:PHP_VER + '-devel-' + $env:VC + '-' + $env:ARCH
    $dname1 = 'php-' + $env:PHP_VER + $ts_part + '-devel-' + $env:VC + '-' + $env:ARCH
    if (-not (Test-Path c:\build-cache\$dname1)) {
            7z x c:\build-cache\$bname -oc:\build-cache
            # Same directory???
            #echo Moving c:\build-cache\$dname0 to c:\build-cache\$dname1
            #move c:\build-cache\$dname0 c:\build-cache\$dname1
    }

    echo "Main build process..."
    cd c:\projects\winbinder

    $env:PATH = 'c:\build-cache\' + $dname1 + '\bin;c:\build-cache\' + $dname1 + ';' + $env:PATH
    echo "" | Out-File -Encoding "ASCII" task.bat
    # Run phpize in the winbinder directory
    echo "cd c:\projects\winbinder" | Out-File -Encoding "ASCII" -Append task.bat
    echo "set PATH=c:\build-cache\$dname1\bin;c:\build-cache\$dname1;%PATH%" | Out-File -Encoding "ASCII" -Append task.bat
    echo "call phpize 2>&1" | Out-File -Encoding "ASCII" -Append task.bat

    # Run configure in the winbinder directory
    $conf_cmd = 'call configure --with-winbinder=shared --disable-debug 2>&1'
    echo $conf_cmd | Out-File -Encoding "ASCII" -Append task.bat

    # Run nmake with the makefile in the current directory
    echo "if exist Makefile (nmake /nologo 2>&1) else (echo Makefile not found in %CD%)" | Out-File -Encoding "ASCII" -Append task.bat
    echo "exit %errorlevel%" | Out-File -Encoding "ASCII" -Append task.bat
    $here = (Get-Item -Path "." -Verbose).FullName
    $runner = 'c:\build-cache\php-sdk\phpsdk.bat'
    $task = $here + '\task.bat'
    & $runner -c $env:VC -a $env:ARCH -t $task

after_build:
  ps: |

    echo "Build download archive of build extension and save as artifact..."
    $ts_part = 'ts'
    if ('0' -eq $env:TS) { $ts_part = 'nts' }
    $zip_bname = 'php_winbinder-' + $env:APPVEYOR_REPO_COMMIT.substring(0, 8) + '-' + $env:PHP_VER.substring(0, 3) + '-' + $ts_part + '-' + $env:VC + '-' + $env:ARCH + '.zip'
    $dir = 'c:\projects\winbinder\' + $env:ARCH + '\';
    if ('1' -eq $env:TS) { 
        $dir = $dir + 'Release_TS' 
    } else {
        $dir = $dir + 'Release'
    }
    & 7z a c:\$zip_bname $dir\php_winbinder.dll
    Push-AppveyorArtifact c:\$zip_bname

test_script:
  ps: |

    echo "Start tests..."

deploy:
  - provider: GitHub
    auth_token: $(GH_PAT)
    artifact: /.*\.zip/
    draft: false
    prerelease: false
    force_update: true
    release: "php_winbinder-${PHP_VER}"
    tag: "php_winbinder-${PHP_VER}"
    on:
      branch: main
